
# Common files
main.c
a.out
test
*.txt

# Excess files
get_next_line_utils.c

# Project bonus files
get_next_line_bonus.h
get_next_line_bonus.c
get_next_line_utils_bonus.c

# Tests
42cursus_gnl_tests
test_main